*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner { 
    text-align: center;
    background-color: #000; 
} 
.titulo-banner { 
    font-size: 2em; 
    font-weight: bold;
    color: floralwhite;
} 
.subtitle-banner { 
    font-size: 1em; 
    margin-top: 10px; 
    color: floralwhite;
} 
.button-banner { 
    display: inline-block; 
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #f0a500; 
    color: #000; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
    margin-bottom: 20px; 
}
.caratula-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 10px;
}
.card-content h3 {
    font-size: 20px;
    margin: 0 0 10px;
}
.card-content p {
    font-size: 16px;
    margin: 0 0 15px;
}
.card-content .btn {
    background-color: #f0ad4e;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.card-content .btn-pink {
    background-color: #e83e8c;
}
nav{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 5px 50px;
    
}
.logo{
    height: 70px;
    width: 150px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

#imgcenter{
    
    text-align: center;
    
}

.d-flex{
    
    width: 100%;
    
    
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}
/*LIBROS INICIO*/
.contenido-principal {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #4c81b9;
    color: #fff;
    justify-content: space-between;
    width: 100%;
}

.logo2-section {
    display: flex;
    align-items: center;
}

.logo2 {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
}

.contenido-info h1 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #ffc107;
}

.view-all {
    color: #ffc107;
    
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    text-align: right;
}

.view-all:hover {
    color: #ffdd57;
}

.promo-banner {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.promo-section {
    text-align: center;
    width: 45%;
    padding: 10px;
    background-color: #e3eaf5;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.promo-section:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.promo-image {
    width: 30%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}
.btn-yellow {
    display: inline-block;
    background-color: #ffc107;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-yellow:hover {
    background-color: #ffb300;
}

.carousel-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.small-book-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.small-book-image:hover {
    transform: scale(1.05);
}

.footer-copyright{
    background: #2fcdcd;
    padding: 20px 0px;
    position: relative;
    
}
.footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.footer-copyright p a{
    color: #ffffff;
}
.footer-copyright p a:hover{
    color: #d33b33;
}


.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}
.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container h1::after{
    content: "";
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) ;
}
.row{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ) ;
    grid-gap: 30px;
    padding-top: 35px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px
}

.service:hover{
    background: #303ef7;
    color: #fff;
    transform:scale(1.05);
}

.service:hover i{
    color: #fff;
}
