*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}
/* Estilo para el banner */
.container1 { 
    text-align: center;
    background-color: #000; 
} 
.title { 
    font-size: 2em; 
    font-weight: bold;
    color: floralwhite;
} 
.subtitle { 
    font-size: 1em; 
    margin-top: 10px; 
    color: floralwhite;
} 
.button { 
    display: inline-block; 
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #f0a500; 
    color: #000; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
    margin-bottom: 20px; 
}
.search-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #333;
}

/* Estilo para los títulos de sección */
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 40px 0 20px 0;
    top:0;
    bottom: 0;
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 43px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}

#check{
    display: none;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

#imgcenter{
    
    text-align: center;
    
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

.footer-copyright{
    background: #2fcdcd;
    padding: 20px 0px;
    position: relative;
    
}
.footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.footer-copyright p a{
    color: #ffffff;
}
.footer-copyright p a:hover{
    color: #d33b33;
}

/*ACABA ESTILOS BANNER*/

.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}
.container h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
}

.container h1::after{
    content: "";
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) ;
}
.row{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ) ;
    grid-gap: 30px;
    padding-top: 35px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px
}

.service:hover{
    background: #303ef7;
    color: #fff;
    transform:scale(1.05);
}

.service:hover i{
    color: #fff;
}